<h1>Editing user_course</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_course %> |
<% if session[:role]=='admin' %>
    <%= link_to 'Back', user_courses_path %>
<% end %>

<% if session[:role]=='instructor' %>
    <%= link_to 'Back', instructor_home_page_path %>

<% end %>